<html>

<head>
    <title>Genetic test</title>
</head>

<body>
    
<script type="text/javascript" src="/reconnecting.js"></script>
</body>

<script>

var socket_general = new ReconnectingWebSocket('ws://52.69.235.146:8081');
///var socket_general = new ReconnectingWebSocket('ws://127.0.0.1:8081');
//const socket_private = new WebSocket('ws://localhost:8082');

socket_general.addEventListener('open', function (event) {
    
    var message = "Hayoo";
    console.log("Hayoo");

    socket_general.send(JSON.stringify(message));
});

socket_general.addEventListener('message', function (event) {
    var general = JSON.parse(event.data);

    console.log(general);

    delete general;
});

</script>

</html>